# local package
-e .

# external requirements
simpy~=4.0.1
numpy~=1.21.2
pandas~=1.3.5
networkx~=2.6.3
statsmodels~=0.13.0
pyyaml~=6.0
scipy~=1.7.3
sphinx
pytest

scikit-learn~=1.0.2
qng~=0.1.0
matplotlib~=3.5.0
yaml~=0.2.5
obflowsim~=0.1.0
setuptools~=58.0.4